body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  font-weight: 800;
  color: #2a324b;
}

header {
  min-height: 100vh;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #66cc33 50%, #0099ff 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.nav {
  /* border: 1px solid red; */
  /* border-bottom: 1px solid #eef1f6; */
}

.nav_toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.nav_toggle i {
  font-size: 50px;
  color: #2a324b;
  margin-top: 30px;
}

.nav_toggle .menu {
  margin-top: 0.2rem;
}

.nav_checkbox {
  display: none;
}

.nav_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1rem;
}

.nav_menu li {
  list-style: none;
  display: none;
}

.nav_menu li:first-child {
  margin-right: auto;
  display: block;
}

.nav_menu a {
  text-decoration: none;
  color: #2a324b;
  font-size: 1.6rem;
}

.nav_logo {
  width: 100px;
  height: 80px;
  /* border: 1px solid red; */
}

#nav_checkbox:checked ~ ul.nav_menu li {
  display: block;
}

@media only screen and (min-width: 769px) {
  .nav_toggle {
    display: none;
  }

  .nav_menu {
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
  }

  .nav_menu li {
    display: block;
  }

  .nav_menu li a {
    font-size: 3rem;
  }
}

.content {
  /* background-color: rgba(255, 255, 255, 0.4); */
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 100px 100px;
}

.content p:nth-of-type(1) {
  font-size: 2em;
  font-weight: bold;
}

.content p:nth-of-type(2) {
  font-size: 1.8em;
  /* font-weight: bold; */
}

.content h1 {
  font-size: 3.3em;
  /* font-weight: bold; */
}

@media only screen and (min-width: 760px) {
  .content {
    margin: 100px 150px;
    /* border: 1px solid blue; */
  }

  .content p:nth-of-type(1) {
    font-size: 4em;
    font-weight: bold;
  }

  .content p:nth-of-type(2) {
    font-size: 3.5em;
    /* font-weight: bold; */
  }

  .content h1 {
    font-size: 5.5em;
    /* font-weight: bold; */
  }
}

@media only screen and (min-width: 1020px) {
  .content {
    margin: 100px 250px;
    /* border: 1px solid red; */
  }
}
