body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  font-weight: 800;
  color: #2a324b;
}

header {
height: 130vh;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #66cc33 50%, #0099ff 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.nav_toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.nav_toggle i {
  font-size: 50px;
  color: #2a324b;
  margin-top: 30px;
}

.nav_toggle i:hover {
  font-size: 50px;
  color: #43caef;
  margin-top: 30px;
}

.nav_toggle .menu {
  margin-top: 0.2rem;
}

.nav_checkbox {
  display: none;
}

.nav_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1rem;
}

.nav_menu li {
  list-style: none;
  display: none;
}

.nav_menu li:first-child {
  margin-right: auto;
  display: block;
  pointer-events: none;
}

.nav_menu a {
  text-decoration: none;
  color: #2a324b;
  font-size: 1.6rem;
}

.nav_menu a:hover {
  color: #43caef;
}

.nav_logo {
  width: 100px;
  height: 80px;
  /* border: 1px solid red; */
  /* pointer-events: none; */
}

#nav_checkbox:checked ~ ul.nav_menu li {
  display: block;
}

@media only screen and (min-width: 769px) {
  .nav_toggle {
    display: none;
  }

  .nav_menu {
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
  }

  .nav_menu li {
    display: block;
  }

  .nav_menu li a {
    font-size: 3rem;
    margin-right: 100px;
  }
}

.content {
  /* background-color: rgba(255, 255, 255, 0.4); */
  text-align: center;
  margin: 100px 100px;
}

.content p:nth-of-type(1) {
  font-size: 2em;
  font-weight: bold;
}

.content p:nth-of-type(2) {
  font-size: 1.8em;
  /* font-weight: bold; */
}

.content h1 {
  font-size: 3.3em;
  /* font-weight: bold; */
}

@media only screen and (min-width: 760px) {
  .content {
    margin: 100px 150px;
    border-radius: 0.25em;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
    /* border: 1px solid blue; */
  }

  .content p:nth-of-type(1) {
    font-size: 4em;
    font-weight: bold;
  }

  .content p:nth-of-type(2) {
    font-size: 3.5em;
    /* font-weight: bold; */
  }

  .content h1 {
    font-size: 5.5em;
    /* font-weight: bold; */
  }
}

@media only screen and (min-width: 1020px) {
  .content {
    margin: 100px 250px;
    /* border: 1px solid red; */
  }
}

.social {
  position: fixed;
  top: 40%;
  left: 90%;
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
}

.social i {
  font-size: 2em;
  padding-top: 10px;
  color: #2a324b;
}

.social i:hover {
  color: #0099ff;
}

@media only screen and (min-width: 560px) {
  .social {
    top: 40%;
    left: 3%;
  }

  .social i {
    font-size: 3em;
    margin-top: 20px;
  }

  .social i:hover {
    color: #43caef;
  }
}

@media only screen and (min-width: 1020px) {
  .social {
    top: 30%;
  }

  .social i {
    margin-top: 30px;
  }
}

.about {
  width: 75%;
  min-height: 400px;
  background-color: rgba(80, 169, 199, 0.808);
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  margin-bottom: 100px;
}

.about h2 {
  /* width: 200%; */
  color: #2a324b;
  font-size: 2.3em;
  text-decoration: overline;
}

.about p {
  color: #2a324b;
  font-size: 1.2em;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0px 30px;
}

.about button {
  width: 120px;
  height: 40px;
  color: #fafaff;
  border-radius: 0.8em;
  border: none;
  font-size: 0.75em;
  font-weight: bold;
  background-color: #1260a0;
  margin-bottom: 3px;
}

.about button:hover {
  color: #007cba;
  background-color: rgba(250, 250, 255, 0.677);
  font-size: 0.85em;
  border: 1px solid #1260a0;
}

@media only screen and (min-width: 560px) {
  .about {
    width: 80%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
  }

  .about h2 {
    margin-left: 20px;
    font-size: 3em;
  }

  .about p {
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1.5em;
    margin: 70px 30px 30px 50px;
  }

  .about button {
    width: 170px;
    height: 60px;
  }
}

.projects {
  width: 100%;
  min-height: 100vh;
  background-color: #0099ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects h2 {
  color: #2a324b;
  font-size: 2.3em;
  text-decoration: overline;
}

.project_conteiner {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

.box {
  /* width: 100%; */
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 60px 40px 40px;
}

.box h3 {
  text-align: center;
  font-size: 1.9em;
}

.box p {
  text-align: center;
  font-size: 1.5em;
}

.box a {
    font-size: 1.5em;

}

.box a:visited {
    color:inherit;
}

.box1 {
  /* border: 1px solid red; */
  background-color: #1a4679;
  color: #fafaff;
}

.box2 {
  background-color: #fafaff;
}

.box3 {
  /* border: 1px solid red; */
  background-color: #1260a0;
}

.box4 {
  /* border: 1px solid red; */
  background-color: #1a4679;
  color: #fafaff;
}

@media only screen and (min-width: 560px) {
  .box {
    margin-left:  70px;
  } 

  .projects h2 {
      font-size: 3em;
      margin-left: 55px;
    }
  }
  
  @media only screen and (min-width: 1226px) {
    /* .projects {
      flex-direction: row;
    }  */

    .box {
      margin-left:  90px;
    } 

    .project_conteiner {
        display: flex;
        flex-direction: row;
       justify-content: center;
      }
  }

footer {
  height: 210px;
  background-color: #26272b;
  padding: 20px 0 20px;
  line-height: 24px;
}

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  font-size: 1em;
  color: #737373;
  border-bottom: 2px solid #737373;
}

.footer_social ul {
  list-style: none;
  
} 

.footer_social a {
  text-decoration: none;
  
} 

.footer_icons i {
  font-size: 2em;
  color: #737373;
  
}

.footer_icons i:hover {
  /* background-color:#29aafe; */
  color: red;
}

/* .footer_icons a:visited {
  color:inherit;
} */

.footer_icons a:hover {
  background-color: #29aafe;
}

@media only screen and (min-width: 560px) {
  footer {    
    line-height: 40px;
  }
  
  
  .footer_container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  footer p {
    font-size: 1.5em;
    color: #737373;
    border: 2px solid #737373;
  }
}
